
__pycache__/
*.pyc
.env
.venv
*.sqlite3
instance/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
.eggs/
*.egg-info/
.migrations/
/pgdata/
/.mypy_cache/
/.pytest_cache/
/.postman_dump.json
/.DS_Store
